
$primary-color: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
$primary-color-light: hsl(243, 100%, 93%);
$primary-color-dark: hsl(229, 7%, 55%);
$bg-color: hsl(229, 57%, 11%);
$secondary-bg-color: hsla(229, 57%, 11%, .5);
$secondary-color: hsl(228, 56%, 26%);

